@import 'tailwindcss';

@font-face {
  font-family: 'AudiFont';
  src: url('./assets/fonts/AudiType-Normal_03.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AudiFont';
  src: url('./assets/fonts/AudiType-Bold_03.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --audi-font: 'AudiFont', monospace;
}

body {
  background-color: black;
  color: white;
}
